body{
    /* background-color: black; */
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-weight: normal;
}

h3{
    color: #66BFBF;
}
p{
    /* font-family: 'Montserrat', sans-serif; */
    color: black;
}

#first-para{
    font-size: 2.5rem;
}

 .top_container{
    background-color: #E4F9F5;
    text-align: center;
    position: relative;
    padding-top: 200px;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    /* border: 5px solid grey; */
}

/* .middle_container{
    background-color: red;
    width: 200px;
    height: 200px;

    
}

.bottom_container {
    background-color: blue;
    width: 200px;
    height: 200px;
} */

.bottom-cloud{
    position: absolute;
    left: 30%;
}

.top-cloud{
    position: absolute;
    left: 60%;
}

.middle_container .profile #profile_pic{
    max-width: 18%;
    position: relative;
    left: 42%;

}

.middle_container .profile h2{
    position: relative;
    left: 49%;
}

.middle_container .profile #paragraph{
    position: relative;
    text-shadow: 2px 1px grey;
    width: 30%;
    left: 38%;
}

#starting-line{
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    border-width: 15px;
    color: gray;
}
.skills h2{
    position: relative;
    left: 47%;
}

.skills .skill-row .ghipy{
    position: relative;
    width: 25%;
    left: 20%;
    float: left;
}

.skills .skill-row h3{
    position: relative;
    left: 30%;
    color: #11999E;
    width: auto;
    top: 55px;
} 

.skills .skill-row p{
    word-wrap: break-word;
    position: relative;
    width: 65%;
    left: 30%;
    top: 55px;
}

.useless-row {
    margin: auto;
    line-height: 2;
}

.useless-row h3{
    position: relative;
    left: 100px;
    width: 60%;
    top: 195px;
}

.useless-row .figma {
    position: relative;
    max-width: 35%;
    left: 55%;
}

.useless-row p{
    position: relative;
    /* left: 15%; */
    width: 25%;
    word-wrap: break-word;
    left: 30.5%;
    top: -190px;
}

.contact-me h2{
    position: relative;
    left: 45%;
    max-width: 30%;
}

.contact-me h3{
    position: relative;
    left: 35%;
}

.contact-me p{
    position: relative;
    left: 32%;
}

.contact-me .btn{
        background-image: linear-gradient(to right, #00ccff 0%, #f0e65a  51%, #2BC0E4  100%);
        /* margin: 10px; */
        padding: 15px 45px;
        /* text-align: center; */
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(0, 0, 0);            
        box-shadow: 5px 15px 10px rgb(44, 42, 42);
        border-radius: 10px;
        display: block;
        width: 120px;
        position: relative;
        left: 45%;
        border-radius: 60px;
      }

      .btn:hover {
        background-position: right center; 
        color: #fff;
        text-decoration: none;
      }

.contact-me #instagram{
    position: relative;
    left: 42%;
    top: 25%;

}
     
.contact-me #twitter{
    position: relative;
    left: 45%;
    top: 25%;


}

.contact-me #email{
    position: relative;
    left: 48%;
    top: 25%;


}

.skill-row{
    width: 70%;
    margin: 100px auto 100px auto;
    line-height: 2;
}

#ending-line{
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    border-width: 15px;
    color: gray;
}

.last-div{
    width: 100%;
    height: 8rem;
    background: lightseagreen;
}
